%h2 Social Media Integrations
%h3 Facebook
= link_to "Connect to Facebook", "/auth/facebook"
%h2 Facebook Profile

- if @user_facebook_oauth
  - @user_graph = Koala::Facebook::API.new(@user_facebook_oauth)
  - my_name =  @user_graph.get_object('me')

  = form_tag(settings_publish_token_path) do
    .row
      = my_name['name'] + "'s Facebook Profile"
      = radio_button_tag "facebook", "profile"
    %h2 Facebook Page
    - @user_graph.get_connections('me', 'accounts').each do |page|
      .row
        = page['name']
        = radio_button_tag "facebook", page['access_token']
    .row
      = submit_tag "Save changes"

%h3 Twitter
= link_to "Connect to Twitter", "/auth/twitter"

.personal_information
  = form_for @user do |f|
    .row
      = f.label :full_name
      = f.text_field :full_name
    .row
      = f.label :company_name
      = f.text_field :company_name

    .row
      = f.label :password
      = f.text_field :password
    .row
      = f.label :email
      = f.text_field :email
    .row
      = f.submit

%div
  Date joined
  = @user.created_at.strftime("%B %e, %Y")
