= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .actions
    .row
      = f.label :text
      = f.text_area :text
    .row
      = f.label :image
      = f.file_field :image
    .row
      = f.label :facebook
      = f.check_box :facebook
    .row
      = f.label :twitter
      = f.check_box :twitter
    .row
      = f.label :facebook_publish_date
      = f.text_field :facebook_publish_date
    .row
      = f.label :twitter_publish_date
      = f.text_field :twitter_publish_date
    = f.submit 'Save'
