- hours = [["1 hour",1],["2 hours",2],["3 hours",3],["4 hours",4],["5 hours",5],["6 hours",6],["7 hours",7],["8 hours",8],["9 hours",9],["10 hours",10],["11 hours",11],["12 hours",12],["13 hours",13],["14 hours",14],["15 hours",15],["16 hours",16],["17 hours",17],["18 hours",18],["19 hours",19],["20 hours",20],["21 hours",21],["22 hours",22],["23 hours",23],["24 hours",24]]
- time = [["00:00", 0],["01:00", 1],["02:00", 2],["03:00", 3],["04:00", 4],["05:00", 5],["06:00", 6],["07:00", 7],["08:00", 8],["09:00", 9],["10:00", 10],["11:00", 11],["12:00", 12],["13:00", 13],["14:00", 14],["15:00", 15],["16:00", 16],["17:00", 17],["18:00", 18],["19:00", 19],["20:00", 20],["21:00", 21],["22:00", 22],["23:00", 23]]
= form_tag(posts_set_dates_path) do
  .row
    %span Schedule a Facebook Post every
    = select_tag("dates[facebook_interval]", options_for_select(hours))
    %span starting
    = text_field(:dates, :facebook_publish_date)
    %span at
    = select_tag("dates[facebook_publish_time]", options_for_select(time))
  .row
    %span Schedule a Tweet every
    = select_tag("dates[twitter_interval]", options_for_select(hours))
    %span starting
    = text_field(:dates, :twitter_publish_date)
    %span at
    = select_tag("dates[twitter_publish_time]", options_for_select(time))
  = submit_tag "Schedule"