%h1 Bulk Scheduler

= render 'set_dates'

%table
  %thead
    %tr
      %th
      %th
      %th
      %th
      %th
      %th
      %th
  %tbody
    - i = 0
    - @posts.each do |post|
      - i += 1
      %tr
        %td= i
        %td= post.text
        %td= image_tag post.image(:thumb) unless post.image.blank?
        %td
        %td
          - if post.facebook?
            = 'Facebook'
            %br
            = post.facebook_publish_date.strftime("%B %e, %Y %l:%M%P")
        %td
          - if post.twitter?
            = 'Twitter'
            %br
            = post.twitter_publish_date.strftime("%B %e, %Y %l:%M%P")
        %td= link_to 'Edit', edit_post_path(post)
