<!DOCTYPE html>
<html>
<head>
  <title>Autoposting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if user_signed_in? %>
    <li>
      <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Sign up', new_user_registration_path)  %>
      <%= link_to('Sign in', new_user_session_path)  %>
    </li>
  <% end %>
</div>
<ul>
  <li><%= link_to "Upload Sheet", posts_import_path %> </li>
  <li><%= link_to "Schedule", posts_path %> </li>
  <li><%= link_to "Settings", settings_path %> </li>
  <li><%= link_to "Archive", archive_path %> </li>
</ul>
<div><%= flash[:notice] if flash[:notice] %></div>
<%= yield %>

</body>
</html>
